/* NavBar.css */

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #0073e6; /* Change to a blue color on hover */
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    gap: 15px;
}

.logout-button {
    background: none;
    border: none;
}

.logout-button:hover {
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .NavBar {
        flex-direction: column;
        padding: 10px;
    }
    .nav-link {
        margin: 10px 0;
    }
}
