.post-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s; 
  }

  .post-content {
    margin: 0px;
    padding-left: 20px;
  }
  
  .post-content h4 {
    color: #333333;
    font-weight: 500;
    margin: 10px 0 0 0;
  }
  
  .post-content p {
    color: #666666;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0px;
  }
  
  .post-audio-container {
    display: flex;
    align-items: center;
    background-color: #f7f7f7; 
    padding: 10px;
    border-radius: 8px;
  }
  
  audio {
    width: 100%;
    outline: none; 
  }
  
  .post-footer {
    display: flex;
    justify-content: right;
    padding: 15px;
    border-top: 1px solid #f0f0f0;
    background-color: #fafafa; 
  }
  
  .comment-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
    color: #0073e6;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }

  .comment-button:hover {
    color: #005bb5;
  }
  
  .comment-button svg {
    fill: #0073e6; 
    transition: fill 0.2s ease-in-out;
  }
  
  .comment-button:hover svg {
    fill: #005bb5; 
  }
  